* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: #333;
    font-size: 1.5rem;
}

p {
    color: #aaa;
}

.ta-center {
    text-align: center;
}

input {
    outline: none;
    border: none;
}

button {
    outline: none;
    border: none;
}

body {
    background-color: #f2f2f3;
}

.center {
    position: absolute;
    margin-top: 50vh;
    margin-left: 50vw;
    transform: translate(-50%, -50%);
}

.p-sm {
    padding: 0.5rem;
}

.p-md {
    padding: 1rem;
}

.p-lg {
    padding: 2rem;
}

.r-sm {
    border-radius: 0.5rem;
}

.r-md {
    border-radius: 1rem;
}

.r-lg {
    border-radius: 1.5rem;
}

.mg-md {
    margin: 1rem;
}

.mg-v-md {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mg-t-md {
    margin-top: 1rem;
}

.w-md {
    width: 20rem;
}

.w-lg {
    width: 50rem;
}

.box {
    background-color: white;
}

.bg-white {
    background-color: white;
}

.bg-gray {
    background-color: #f3f3f5;
}

.bg-orange {
    color: rgb(166, 138, 55);
    background-color: rgb(245, 235, 206);
}

.blue {
    color: rgb(55, 75, 166);
    background-color: rgb(213, 215, 237);
}

/* */

.btn {
    transition-duration: 0.1s;
}

.btn:hover {
    transform: scale(1.04);
}

.btn:active {
    transform: scale(0.96);
}

.sh {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* Layout. */

.v {
    display: flex;
    flex-direction: column;
}

.h {
    display: flex;
    flex-direction: row;
}

.gap-sm {
    gap: 0.5rem;
}

.gap-md {
    gap: 1rem;
}

.gap-lg {
    gap: 1.5rem;
}

.h-full {
    height: 100vh;
}

.wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.min-w-fit-content {
    min-width: fit-content;
}

.end {
    justify-content: end;
}

.c-gray {
    color: #333;
}

.ai-center {
    align-items: center;
}

.bounce {
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.bounce:hover {
    transform: scale(1.04);
}

.bounce:active {
    transform: scale(0.96);
}

.v-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-md {
    opacity: 0.15;
    width: 1rem;
    height: 1rem;
}

.icon-lg {
    opacity: 0.15;
    width: 2rem;
    height: 2rem;
}

.btn-sm {
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: #555;
    background-color: #f3f3f5;
    transition-duration: 0.2s;
}

.btn-sm:hover {
    background-color: #e5e5e7;
}

.btn-sm:active {
    transform: scale(0.96);
}

.overflow-ellipsis {
    text-overflow: ellipsis;
}

.white-space-nowrap {
    white-space: nowrap;
}

.overflow-hidden {
    overflow: hidden;
}