.Notification {
    position: absolute;
    margin-left: 50%;
    transform: translate(-50%, -100%);
    top: 0px;
    opacity: 0;
    border-radius: 5px;
    background-color: #faa;
    color: #922;
    padding: 5px 10px;
    animation-duration: 7.5s;
    animation-name: notification;
}

.Good {
    color: #292;
    background-color: #afa;
}

@keyframes notification {
    0% {
        top: 0px;
        opacity: 0;
    }
    10% {
        top: 50px;
        opacity: 1;
    }
    90% {
        top: 50px;
        opacity: 1;
    }
    100% {
        top: 0px;
        opacity: 0;
    }
}

.Title {
    color: #777;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.ReloadBox {
    display: block;
    height: 100%;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.ReloadBox-Title {
    font-weight: bold;
    margin-bottom: 1rem;
}

.Card {
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 300px;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #eee;
    transition-duration: 0.2s;
    border: 2px solid transparent;
}

.Card:hover {
    /* background-color: rgb(46, 46, 172);
    color: white;
    transform: scale(1.02, 1.02); */
    border: 2px solid rgb(46, 46, 172);
    transform: scale(1.02, 1.02);
}

.ProfileLayout {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.ProfileNavigation {
    display: flex;
    flex-direction: column;
    flex: 0 0 20ch;
    background-color: #eee;
}

.ProfileMain {
    flex: 1;
}

.ProfileMain-Container {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.QuestionContainer {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    width: 500px;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: white;
    justify-content: space-between;
}

.QuestionParams {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.QuestionExpanded-Actions {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 0.5rem;
}