.LoginLink {
    margin: 0.4rem;
    padding: 5px 20px;
}

.LoginBox {
    text-align: center;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.Notification {
    position: absolute;
    margin-left: 50%;
    transform: translate(-50%, -100%);
    top: 0px;
    opacity: 0;
    border-radius: 5px;
    background-color: #faa;
    color: #922;
    padding: 5px 10px;
    animation-duration: 7.5s;
    animation-name: notification;
}

@keyframes notification {
    0% {
        top: 0px;
        opacity: 0;
    }
    10% {
        top: 50px;
        opacity: 1;
    }
    90% {
        top: 50px;
        opacity: 1;
    }
    100% {
        top: 0px;
        opacity: 0;
    }
}

.Title {
    color: #777;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.ReloadBox {
    display: block;
    height: 100%;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.ReloadBox-Title {
    font-weight: bold;
    margin-bottom: 1rem;
}

.Card {
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 300px;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #eee;
    transition-duration: 0.2s;
    border: 2px solid transparent;
}

.Card:hover {
    /* background-color: rgb(46, 46, 172);
    color: white;
    transform: scale(1.02, 1.02); */
    border: 2px solid rgb(46, 46, 172);
    transform: scale(1.02, 1.02);
}

.Blue {
    background-color: #b1ccff;
}

.Pink {
    background-color: #ffb1fc;
}

.Orange {
    background-color: #fde7b0;
}

.Green {
    background-color: #cdfdb0;
}

.ProfileLayout {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.ProfileNavigation {
    display: flex;
    flex-direction: column;
    flex: 0 0 20ch;
    background-color: #eee;
}

.ProfileNavigation-Logo {
    flex: 0 0 2.5rem;
    color: rgba(255, 255, 255, 0.92);
}

.ProfileNavigation-Categories {
    display: flex;
    flex-direction: column;
    flex: 0 0 10rem;
}

.ProfileNavigation-Quit {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.ProfileNavigation-Categories > a, .ProfileNavigation-Quit > a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.92);
    border-radius: 0.5rem;
    margin-left: 1ch;
    margin-right: 1ch;
    padding: 5px 20px;
}

.ProfileNavigation-Quit > a {
    color: #d55;
}

.ProfileNavigation-Categories > a:hover, .ProfileNavigation-Quit > a:hover {
    background-color: #ddd;
}

.ProfileMain {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    flex: 1;
    background-color: white;
}

.ProfileMain-Container {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.QuestionContainer {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    width: 500px;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: white;
    justify-content: space-between;
}

.Param {
    background-color: #eec7fb;
    border-radius: 0.6rem;
    padding: 0.1rem 1ch;
}

.QuestionTitle {
    font-weight: bold;
}

.QuestionParams {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.QuestionActions {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.QuestionContainer-Expanded {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    width: 500px;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: white;
    justify-content: space-between;
}

.KeyValue {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.QuestionEdit {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 2px dashed #bbb;
    border-radius: 0.5rem;
    outline: none;
    text-align: center;
}

.QuestionAnswersContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.QuestionExpanded-Actions {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 0.5rem;
}