.notification {
    position: absolute;
    margin-left: 50%;
    transform: translate(-50%, -100%);
    top: 0px;
    opacity: 0;
    border-radius: 1rem;
    padding: 1rem;
    animation-duration: 7.5s;
    animation-name: notification;
}

.error {
    background-color: #faa;
    color: #922;
}

.success {
    background-color: rgb(170, 255, 172);
    color: rgb(42, 153, 34);
}

@keyframes notification {
    0% {
        top: 0px;
        opacity: 0;
    }
    10% {
        top: 65px;
        opacity: 1;
    }
    90% {
        top: 65px;
        opacity: 1;
    }
    100% {
        top: 0px;
        opacity: 0;
    }
}