.builder-question-container {
    margin: 5px;
    border: 2px solid #eee;
    padding: 10px;
}

.builder-question-soq-answers {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 5px;
}

.builder-question-soq-container {
    padding: 10px;
    border-radius: 4px;
    background: url("bg2.png") repeat;
    filter: none;
}

.builder-question-soq-answer {
    outline: none;
    padding: 10px;
    border: 2px solid transparent;
    background: transparent;
    color: white;
    text-align: center;
    word-wrap: break-word;
}

.builder-question-soq-answer:focus {
    border: 2px dashed #ffffff;
    transition: 200ms cubic-bezier(0.33, 1, 0.68, 1);
}

.builder-question-task {
    padding: 10px;
    border: 2px solid transparent;
    outline: none;
    text-align: center;
    word-wrap: break-word;
}

.builder-question-task:focus {
    border: 2px dashed #ddd;
    transition: 200ms cubic-bezier(0.33, 1, 0.68, 1);
}

.builder-question-panel {
    display: flex;
    flex-direction: row;
    justify-items: start;
    padding: 5px;
    border: 2px solid #ddd;
    /* border-radius: 20px 20px 20px 20px / 50% 50% 50% 50%; */
    margin-bottom: 10px;
    background-color: #eee;
}

.builder-question-btn {
    padding: 5px;
    background: url("trash.png");
    background-size: 10px;
    filter: none;
}