.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 8px solid;
    border-color: black transparent black transparent;
    border-radius: 50%;
    animation: loading-anim 1.2s linear infinite;
}

@keyframes loading-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}